body {
  background-color: #ecf0f1;
}

.main {
  background-image: url(https://images.unsplash.com/photo-1478737270239-2f02b77fc618?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.btn {
  position: relative;
  top: 50%;
  left: 40%;
}

.badge {
  background-color: #fc5c65;
}

.cardImage {
  height: 200px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.afterEntryMain {
  background-color: #341f97;
  height: 600px;
}
